@model ProfessionalPartnerships.Data.Models.CertificationTypes
@{
    ViewData["Title"] = "Add Certification Type";
}

<h2>Add Certification Type</h2>
@using (Html.BeginForm("AddCertificationType", "CertificationTypes", FormMethod.Post))
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    <input type="submit" value="Add" />

}

