@{
    ViewData["Title"] = "Delete Program";
}

<h2>Delete Program</h2>

<div>
    <label> Program deletion was successful. </label>
</div>

<div>
    <a asp-action="Programs">Back to List</a>
</div>
