@model ProfessionalPartnerships.Web.Models.AdminViewModels.ProgramsViewModel;
@{
    ViewData["Title"] = "Manage Programs";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<form method="post">
    <label for="availabilityDate">Availability Date</label>
    <input id="availabilityDate" type="date" />
</form>


