@model ProfessionalPartnerships.Data.Models.EnrollmentStatuses
@{
    ViewData["Title"] = "Edit Enrollment Status";
}

<h2>Edit Enrollment Status</h2>
@using (Html.BeginForm("EditEnrollmentStatus", "EnrollmentStatuses", FormMethod.Post))
{
    @Html.HiddenFor(model => model.EnrollmentStatusId)
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    <input type="submit" value="Edit" />

}

