@model List<ProfessionalPartnerships.Data.Models.CertificationTypes>
@{
    ViewData["Title"] = "Certification Types";

}

<h1>Certification Types</h1>
<table>
    @foreach (var type in Model)
    {
        <tr><td>@type.Name</td></tr>

    }
</table>

<a asp-area="" ap-controller="ManageSystem" asp-action="AddCertificationTypeView">Add Type</a>

