
@{
    ViewData["Title"] = "Index";
}

<h2>Manage System</h2>
<ul>
    <li>
        <a asp-area="" asp-controller="CertificationTypes" asp-action="Index">Certification Types</a>
    </li>
    <li>
        <a asp-area="" asp-controller="EnrollmentStatuses" asp-action="Index">Enrollment Statuses</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Interests" asp-action="Index">Interests</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Skills" asp-action="Index">Skills</a>
    </li>
    <li>
        <a asp-area="" asp-controller="Semesters" asp-action="Index">Semesters</a>
    </li>
    <li>
        <a asp-area="" asp-controller="ProgramTypes" asp-action="Index">Program Types</a>
    </li>
    <li>
        <a asp-area="" asp-controller="ConfigurationValues" asp-action="Index">Configuration Values</a>
    </li>
</ul>
