
@{
    ViewData["Title"] = "Index";
}

<h2>Manage System</h2>
<ul>
    <li>
        <a asp-area="" ap-controller="ManageSystem" asp-action="CertificationTypes">Certification Types</a>
    </li>
    <li>
        <a asp-area="" ap-controller="ManageSystem" asp-action="EnrollmentStatuses">Enrollment Statuses</a>
    </li>
    <li>
        <a asp-area="" ap-controller="ManageSystem" asp-action="Interests">Interests</a>
    </li>
    <li>
        <a asp-area="" ap-controller="ManageSystem" asp-action="Skills">Skills</a>
    </li>
    <li>
        <a asp-area="" ap-controller="ManageSystem" asp-action="Semesters">Semesters</a>
    </li>
    <li><a asp-area="" ap-controller="ManageSystem" asp-action="ProgramTypes">Program Types</a></li>

</ul>
