@model ProfessionalPartnerships.Data.Models.Skills
@{
    ViewData["Title"] = "Add Skill";
}

<h2>Add Skill</h2>
@using (Html.BeginForm("AddSkill", "Skills", FormMethod.Post))
{
    @Html.LabelFor(model => model.Name)
    @Html.TextBoxFor(model => model.Name)

    <input type="submit" value="Add" />

}

