@model IEnumerable<ProfessionalPartnerships.Data.Models.Programs>
@{
    ViewData["Title"] = "Student Dashboard";
}

<h3>Programs</h3>

<div id="react-root"></div>

@section Scripts {
    <script>
        var App = React.createClass({
            cols: [{display:'Description', col:'description'},
                    {display:'Max Student Count', col: 'maximumStudentCount'}],
            fetchData: function(keyword) {
                var ui = this;
                var params = {}
                if (ui.state.keyword) {
                    params.keyword = ui.state.keyword;
                }
                $.get('/StudentDashboard/GetPrograms',params).success(function(rows) {
                    ui.setState({rows:rows});
                });
            },
            getInitialState: function() {
                return { rows: [] };
            },
            componentDidMount: function() {
                this.fetchData();
            },
            setKeyword: function(evt) {
                this.setState({keyword: evt.target.value})
            },
            reset: function() {
                this.setState({keyword:''}, this.fetchData);
            },
            render: function () {
                var ui = this;
                var makeRows = function() {
                    return ui.state.rows.map(function(row,i) {
                        return R("tr",{key:i}, ui.cols.map(function(col, i) { return R("td", {key: i}, row[col.col]) }));
                    })
                }
                var makeTable = function() {
                    return React.createElement("table", { className: "table" },
                        Rs("thead",
                        R("tr", ui.cols.map(function (col, i) { return R("td", {key: i}, col.display) }))),
                        R("tbody",makeRows())
                    );
                }
                var makeFilters = function() {
                    return Rs("div",
                                R("label", "Keyword"),
                                R("input", {type: 'text', value: ui.state.keyword, onChange: ui.setKeyword}),
                                R("button",{onClick: function() { ui.fetchData()}, className:"btn btn-primary" }, "Search"),
                                R("button",{onClick: ui.reset, className:"btn btn-secondary" }, "Reset")
                    );
                }
                return Rs("div",
                    makeFilters(),
                    makeTable()
                );
            }
        });

        var root = document.getElementById("react-root");
        var app = React.createElement(App);
        ReactDOM.render(app, root);
    </script>
}
