@model ProfessionalPartnerships.Web.AdministratorDashboardViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>title</h2>

<input type="button" value="ManagePrograms" onclick="location.href='@Url.Action("Programs", "Admin")'" />