@model ProfessionalPartnerships.Models.ProfessionalDashboard.ProfessionalDashboardViewModel

@{
    ViewBag.Title = "Professinal Dashboard";
    Layout = "_Layout";
}

<h2>Professional Dashboard</h2>

<p>
@Model.Company.Name
</p>