@model List<ProfessionalPartnerships.Data.Models.Students>
@{
    ViewData["Title"] = "Home Page";
}

<table>
    @foreach (var student in Model)
    {
        <tr><td>@student.StudentId</td><td>@student.FirstName</td></tr>

}

</table>
