
@{
    Layout = null;
    @inject SignInManager<ApplicationUser> SignInManager

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Professional Partnerships</title>
    <meta name="description" content="Dublin City Schools Professional Partnership Program">
    <meta name="keywords" content="Mentor Professional Student">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/imagehover.min.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head>

<body>
    <!--Navigation bar-->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Professional <span>Partners</span></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#feature">Programs</a></li>
                    <li><a href="#organisations">Leadership</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                    @Html.ActionLink("Admin", "Index", "AdministratorDashboard")
                    <li><a href="#" data-target="#login" data-toggle="modal">Sign in</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!--/ Navigation bar-->    
    <!--Modal box-->
    <div class="modal fade" id="login" role="dialog">
        <div class="modal-dialog modal-sm">

            <!-- Modal content no 1-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title text-center form-title">Login</h4>
                </div>
                <div class="modal-body padtrbl">

                    <div class="login-box-body">
                        <p class="login-box-msg">Sign in to start your session</p>
                        <div class="form-group login-box-msg">

                            @{
                                var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();
                            }
                            <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal">
                                <div>
                                    <p>
                                        @foreach (var provider in loginProviders)
                                        {

                                            <button type="submit" class=" btn-@provider.DisplayName.ToLower()" name="provider" value="@provider.Name">
                                                <i class="fa fa-@provider.DisplayName.ToLower()"></i> Sign in using @provider.DisplayName
                                            </button>

                                        }
                                    </p>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--/ Modal box-->
    <!--Banner-->
    <div class="banner">
        <div class="bg-color">
            <div class="container">
                <div class="row">
                    <div class="banner-text text-center">
                        <div class="text-border">
                            <h2 class="text-dec">Students & Professionals</h2>
                        </div>
                        <div class="intro-para text-center quote">
                            <p class="big-text">Learning Today . . . Leading Tomorrow.</p>
                            <p class="small-text"></p>
                            <a href="#contact" class="btn get-quote">LEARN MORE</a>
                        </div>
                        <a href="#feature" class="mouse-hover">
                            <div class="mouse"></div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Banner-->
    <!--Feature-->
    <section id="feature" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="header-section text-center">
                    <h2>Programs</h2>
                    <p>Dublin City Schools' Emerald Campus is connecting students with professionals through a number of programs. These programs will further our students' educations.</p>
                    <hr class="bottom-line">
                </div>
                <div class="feature-info">
                    <div class="fea">
                        <div class="col-md-4">
                            <div class="heading pull-right">
                                <h4>Latest Technologies</h4>
                                <p>Leveraging the latest technologies, our students will engage with presentations from local industry leaders.</p>
                            </div>
                            <div class="fea-img pull-left">
                                <i class="fa fa-css3"></i>
                            </div>
                        </div>
                    </div>
                    <div class="fea">
                        <div class="col-md-4">
                            <div class="heading pull-right">
                                <h4>Mentorships</h4>
                                <p>Mentor pairings will enhance the learning experience by applying tangible activities to classroom learning.</p>
                            </div>
                            <div class="fea-img pull-left">
                                <i class="fa fa-drupal"></i>
                            </div>
                        </div>
                    </div>
                    <div class="fea">
                        <div class="col-md-4">
                            <div class="heading pull-right">
                                <h4>Internships</h4>
                                <p>Aligning students with corporate initiatives will create a win-win relationship between Dublin's thriving corporate ecosystem and our leading education initiatives.</p>
                            </div>
                            <div class="fea-img pull-left">
                                <i class="fa fa-trophy"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ feature-->
    <!--Organisations-->
    <section id="organisations" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="orga-stru">
                            <h3>65%</h3>
                            <p>Say NO!!</p>
                            <i class="fa fa-male"></i>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="orga-stru">
                            <h3>20%</h3>
                            <p>Says Yes!!</p>
                            <i class="fa fa-male"></i>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <div class="orga-stru">
                            <h3>15%</h3>
                            <p>Can't Say!!</p>
                            <i class="fa fa-male"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="detail-info">
                        <hgroup>
                            <h3 class="det-txt"> Is traditional teaching sufficient for high school students?</h3>
                            <h4 class="sm-txt">(Revised and Updated for 2018)</h4>
                        </hgroup>
                        <p class="det-p">In order to be a world-class organization, Dublin City Schools needs to dedicate resources to staying on the cutting edge of technology, workforce development, educational methodologies, and the latest, best thinking on a wide variety of topics.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="text-center">
                        “Our job is not to prepare kids for something; our job is to
                        help kids learn to prepare themselves for anything.”
                    </h2>
                    <p class="cta-2-txt">- AJ Juliani</p>
                </div>
            </div>
        </div>
    </section>
    <!--/ Organisations-->
    <!--Faculity member-->
    <section id="faculity-member" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="header-section text-center">
                    <h2>Meet Our Faculty</h2>
                    <p>We are a team of dedicated educators led by leaders who are passionate about innovative teaching strategies.</p>
                    <hr class="bottom-line">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="pm-staff-profile-container">
                        <div class="pm-staff-profile-image-wrapper text-center">
                            <div class="pm-staff-profile-image">
                                <img src="img/Venne.jpg" alt="" class="img-thumbnail img-circle" />
                            </div>
                        </div>
                        <div class="pm-staff-profile-details text-center">
                            <p class="pm-staff-profile-name">Kristy Venne</p>
                            <p class="pm-staff-profile-title">Emerald Campus Director</p>

                            <p class="pm-staff-profile-bio">Kristy Venne joined the Dublin City School District as an assistant principal at Dublin Jerome in 2015. Since that time, she served as an assistant principal and dean of students at New Albany High School. Prior to becoming an administrator, Mrs. Venne was designated as a master teacher in the visual arts and taught at the elementary and high school levels in New Albany for 10 years. During that time, she also founded and directed Eco-Art Adventure, a summer day camp program.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="pm-staff-profile-container">
                        <div class="pm-staff-profile-image-wrapper text-center">
                            <div class="pm-staff-profile-image">
                                <img src="img/mentor.jpg" alt="" class="img-thumbnail img-circle" />
                            </div>
                        </div>
                        <div class="pm-staff-profile-details text-center">
                            <p class="pm-staff-profile-name">Bryan Johnson</p>
                            <p class="pm-staff-profile-title">Lead Software Engineer</p>

                            <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et placerat dui. In posuere metus et elit placerat tristique. Maecenas eu est in sem ullamcorper tincidunt. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4">
                    <div class="pm-staff-profile-container">
                        <div class="pm-staff-profile-image-wrapper text-center">
                            <div class="pm-staff-profile-image">
                                <img src="img/mentor.jpg" alt="" class="img-thumbnail img-circle" />
                            </div>
                        </div>
                        <div class="pm-staff-profile-details text-center">
                            <p class="pm-staff-profile-name">Bryan Johnson</p>
                            <p class="pm-staff-profile-title">Lead Software Engineer</p>

                            <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec et placerat dui. In posuere metus et elit placerat tristique. Maecenas eu est in sem ullamcorper tincidunt. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Faculity member-->
    <!--Testimonial-->
    <section id="testimonial" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="header-section text-center">
                    <h2 class="white">See What Our Students Are Saying!</h2>
                    <p class="white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nesciunt vitae,<br> maiores, magni dolorum aliquam.</p>
                    <hr class="bottom-line bg-white">
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="text-comment">
                        <p class="text-par">"Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, nec sagittis sem"</p>
                        <p class="text-name">Abraham Doe - Creative Dırector</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="text-comment">
                        <p class="text-par">"Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, nec sagittis sem"</p>
                        <p class="text-name">Abraham Doe - Creative Dırector</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/ Testimonial-->
    <!--Contact-->
    <section id="contact" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="header-section text-center">
                    <h2>Contact Us</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nesciunt vitae,<br> maiores, magni dolorum aliquam.</p>
                    <hr class="bottom-line">
                </div>
                <!--Message-->
                @{ var statusMessageObject = TempData["TempDataProperty-StatusMessage"]; }
                @if (statusMessageObject != null && !String.IsNullOrEmpty((string)statusMessageObject))
                {
                    var statusMessage = (string)statusMessageObject;
                    var statusMessageClass = statusMessage.StartsWith("Error") ? "danger" : "success";
                        <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            @statusMessage
                        </div>
                }
                <!--/ Message-->
                <div id="sendmessage">Your message has been sent. Thank you!</div>
                <div id="errormessage"></div>
                <form asp-action="ContactUs" asp-controller="Home" class="contactForm">
                    <div class="col-md-6 col-sm-6 col-xs-12 left">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control form" id="name" placeholder="Your Name" required data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="tel" pattern="\d{3}[\-]\d{3}[\-]\d{4}" name="PhoneNumber" class="form-control form" id="name"
                                   placeholder="Your Phone Number (999-999-9999)" data-rule="tel" data-msg="Please enter a valid phone number" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 right">
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" required data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <!-- Button -->
                        <button type="submit" id="submit" name="submit" class="form contact-form-button light-form-button oswald light">SEND EMAIL</button>
                    </div>
                </form>

            </div>
        </div>
    </section>
    <!--/ Contact-->
    <!--Footer-->
    <footer id="footer" class="footer">
        <div class="container text-center">
            <!-- End newsletter-form -->

        </div>
    </footer>
    <!--/ Footer-->

    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="js/contactform/contactform.js"></script>

</body>

</html>
